.sideoptions {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  cursor: pointer;
}

.sideoptions:hover {
  background-color: var(--twitter-background);
  border-radius: 30px;
  width: 170px;
  color: #50b7f5;
  transition: color 100ms ease-out;
}

.sideoptions > h2 {
  font-weight: 600;
  font-size: 18px;
  margin-right: 20px;
}

.sideoptions > .MuiSvgIcon-root {
  padding: 10px 15px;
}

.done_icon {
  color: #50b7f5 !important;
}

@media screen and (max-width: 688px) {
  .sidebar_tweet {
    display: none;
  }
}
